<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% for ( const message of messages ) { %>
      <%= message.text %> by <%= message.user %> on <%= message.added.getMonth() %>-<%= message.added.getDay() %>-<%= message.added.getFullYear() %>
      <br>
      <br>
      <% } %>

      <br>
      <button><a href="/new" style="color: black; text-decoration: none;">New Message</a></button>
  </body>
</html>
